<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @physician, partial: "card", as: :physician %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "physicians/physician_readings" %>
  </div>
</div>
