<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      QalyHealth
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/demographics" class="dropdown-item">
              Demographics
            </a>
            <a href="/physicians" class="dropdown-item">
              Physicians
            </a>
            <a href="/readings" class="dropdown-item">
              Readings
            </a>
            <a href="/users" class="dropdown-item">
              Users
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_demographic.blank? %>
          <li class="nav-item">
            <a href="/demographics/sign_in" class="nav-link">
              Demographic sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/demographics/sign_up" class="nav-link">
              Demographic sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/demographics/edit" class="nav-link">
              Demographic edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/demographics/sign_out" data-method="delete" class="nav-link">
              Demographic sign out
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_physician.blank? %>
          <li class="nav-item">
            <a href="/physicians/sign_in" class="nav-link">
              Physician sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/physicians/sign_up" class="nav-link">
              Physician sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/physicians/edit" class="nav-link">
              Physician edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/physicians/sign_out" data-method="delete" class="nav-link">
              Physician sign out
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_reading.blank? %>
          <li class="nav-item">
            <a href="/readings/sign_in" class="nav-link">
              Reading sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/readings/sign_up" class="nav-link">
              Reading sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/readings/edit" class="nav-link">
              Reading edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/readings/sign_out" data-method="delete" class="nav-link">
              Reading sign out
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              User sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              User sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              User edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_out" data-method="delete" class="nav-link">
              User sign out
            </a>
          </li>
        <% end %>
      </ul>
</nav>
