<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @demographic, partial: "card", as: :demographic %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "demographics/demographic_physicians" %>
  </div>
</div>
  <!-- Show Page Customization end -->
